<div class="container">
    <h2>Les sous-catégories</h2>
   <div>
   <app-createscat></app-createscat>
   </div>
    <div>
        <input matInput (keyup)="filter($event)" placeholder="Rechercher">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id </th>
               
                <th>Image</th>
                <th>Nom</th>
                <th width="250px">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scategorie of scategories.data">
                <td>{{ scategorie._id }}</td>
              
                <td><img [src]="scategorie.imagescategorie" alt="" width="80" height="80" /></td>
                <td>{{ scategorie.nomscategorie }}</td>
                <td>
                   
                    <app-view [scategorieId]="scategorie._id"></app-view>
                    <app-edit [scategorieId]="scategorie._id"></app-edit>
                      
                    <button type="button" (click)="deleteScategorie(scategorie._id)" class="btn btn-default">
                        <i class="bi bi-trash-fill" style="color: red"></i> 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
